<div>
  select multiple date ranges for comparison between different times, show
  multiple charts at a time for easy comparison or have tabs (copy selected
  countries to tab), have ability to hide charts or select region or multiple
  countries
  <p>
    select region on map with polygon, only color those countries, create new
    tabs with those country selections colored, allow different time frames Have
    a polygon button and a pointer button to toggle between selecting countries
    by click or by boundary
  </p>
  <p>
    (Look ate vaccination data) Work with vaccine data, drop down to select or
    different channels for vaccine and covid cases which are transparent and you
    can toggle them on or off show % reduction / increase per vaccine in a
    channel, or and see<a href="https://data.cdc.gov/browse"
      >https://data.cdc.gov/browse</a
    >
  </p>

  NYTimes by county
  <a
    href="https://github.com/nytimes/covid-19-data/blob/master/live/us-counties.csv"
    >https://github.com/nytimes/covid-19-data/blob/master/live/us-counties.csv</a
  >
  Observable with covid animation bubbles
  <a
    href="https://observablehq.com/@jashkenas/united-states-coronavirus-daily-cases-map-covid-19"
    >https://observablehq.com/@jashkenas/united-states-coronavirus-daily-cases-map-covid-19</a
  >
  NY Times case count
  <a href="https://github.com/nytimes/covid-19-data"
    >https://github.com/nytimes/covid-19-data</a
  >
</div>
<div #chart></div>
<div>
  <input
    type="radio"
    value="sum"
    name="diff"
    (click)="changeDisplayType('sum')"
  />
  Cumulative
  <input
    type="radio"
    value="daily"
    name="diff"
    (click)="changeDisplayType('daily')"
  />
  Daily Cases
</div>
<div>
  <input type="checkbox" (change)="setByPopulation($event.target.checked)" /> By
  Population
</div>
<mat-form-field appearance="fill">
  <mat-label>Enter a date range</mat-label>
  <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
    <input matStartDate formControlName="start" placeholder="Start date" />
    <input matEndDate formControlName="end" placeholder="End date" />
  </mat-date-range-input>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker></mat-date-range-picker>

  <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')"
    >Invalid start date</mat-error
  >
  <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')"
    >Invalid end date</mat-error
  >
</mat-form-field>
{{ currentDate ? (currentDate | date: "M/d/yyyy") : "" }}
<p>Selected range: {{ range.value | json }}</p>
Current Day
<mat-slider
  (change)="changeDay()"
  (mousedown)="mousedownDay()"
  thumbLabel
  [displayWith]="formatLabel"
  [tickInterval]="dayInterval"
  min="1"
  [max]="maxDays"
  [(ngModel)]="currentDay"
></mat-slider>
<button (click)="mousedownDay()">Stop Timer</button>
<button (click)="resetTimer()">Start Auto timer</button>
Display Every x Frames
<mat-slider
  (mousedown)="mousedownDay()"
  thumbLabel
  [displayWith]="formatLabel"
  [tickInterval]="5"
  min="1"
  [max]="50"
  [(ngModel)]="dayInterval"
></mat-slider>

Duration (ms)
<mat-slider
  (mousedown)="mousedownDay()"
  thumbLabel
  [displayWith]="formatLabel"
  [tickInterval]="250"
  min="500"
  [max]="10000"
  [(ngModel)]="durationMs"
></mat-slider>
<div>
  <label>Variant</label>
  <div class="d-flex">
    <button [ngClass]="{selected: selectedVariant === variant}" (click)="setVariant(variant)" *ngFor="let variant of variants">{{variant}}</button>
  </div>
  
  <select
    [ngModel]="selectedVariant"
    (ngModelChange)="setVariant($event)"
  >
    <option *ngFor="let variant of variants" [ngValue]="variant">
      {{ variant }}
    </option>
  </select>
  {{ selectedVariant }}
</div>

<input
  (cpToggleChange)="changeColor($event)"
  [value]="minColor"
  [style.background]="minColor"
  [(colorPicker)]="minColor"
/>

<input
  (cpToggleChange)="changeColor($event)"
  [value]="midColor"
  [style.background]="midColor"
  [(colorPicker)]="midColor"
/>

<input
  (cpToggleChange)="changeColor($event)"
  [value]="maxColor"
  [style.background]="maxColor"
  [(colorPicker)]="maxColor"
/>
<pre>{{selected?.variantData | json}}</pre>
<div #variantChart></div>

